<div class="menyyriba">
    <div class="logo">
            <img class= "pilt" src="./Matkaklubi/Pildid/klubilogo.png" alt>
        <div class="pealkiri">CURIOUS OTTER</div>
    </div>
    <div class="menyy">
<ul>
<li><a href="/kontakt">KONTAKT</a></li>
<li>MEIST</li>
<li><a href="/">ESILEHT</a></li>
</ul>
    </div>
    