<!DOCTYPE html>
<html lang="en">

<head>
    <title>Matkaklubi - registreerumine</title>
    <% include ../partials/header.ejs %>
    <script src="/matkaklubi/registreeru.js"></script>
</head>

<body>
    <div class="container matkakonteiner">
        <div class="row">
            <% for ( let i = 0; i < matkad,length; i++){ %>
        <% include ../partials/menyy.ejs %>
        <div class="container">
            <h2>
                Registreeru matkale: <%= andmed.nimi %>!
            </h2>
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <img class="img-fluid" src="<%= andmed.piltUrl %>" alt="">
                </div>
            </div>
        </div>
        <div id="registreerunud" class="row justify-content-center">

            <% for  ( let i = 0; i < andmed.registreerunud.length; i++) { %>
                <div class="col-12">
                <div>
                   <p> 
                       Nimi: <%= andmed.registreerunud[i].nimi %>
                   </p>
                   <p> 
                    email: <%= andmed.registreerunud[i].email %>
                </p>
                </div>
                <% } %>
        </div>
    </div>
    </div>
</body>

</html>