<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Matkaklubi - kontakt</title>
    <% include ../partials/header.ejs %>
</head>

<body>
        <div class="container">
        <% include ../partials/menyy.ejs %>
        

        </div>

    <div class="row"></div>
   Kirjuta meile aadressil: XXX või helista numbril +372 5330 9999
</body>
</html>