<!DOCTYPE html>
<html lang="en">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./matkaklubi.css">
<head>
   
    <title>Matkaklubi - kontakt</title>
    <% include ../partials/header.ejs %>
</head>

<body>
        <div class="container">
        <% include ../partials/menyy.ejs %>
    </div>
        <div class="container">
            <div class="row">
           <h2>
               Kirjuta meile aadressil: info@curiousotter.ee või helista numbril +372 5330 9999
            </h2>
        <div class="col-md-6 align-content-center">
            <img class="img-fluid" src="./Matkaklubi/Pildid/insights.jpg" alt="">
        </div>
    </div>

        </div>
    </div>
   
</body>
</html>