<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matkaklubi Curious Otter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./Matkaklubi/matkaklubi.css">
</head>
<body>
    <div class="paiskonteiner">
        <div class="container">
        <div class="menyyriba">
            <div class="logo">
                    <img class= "pilt" src="./Matkaklubi/Pildid/klubilogo.png" alt>
                <div class="pealkiri">CURIOUS OTTER</div>
            </div>
            <div class="menyy">
<ul>
    <li>KONTAKT</li>
    <li>MEIST</li>
    <li>MATKAD</li>
    <li>ESILEHT</li>

</ul>
            </div>

        </div>

        <div class="tiitliriba">
        <h2>Liikumine ja värske õhk tagavad tugeva tervise</h2>
        <h1>Tule matkama</h1>
        <h3>Võta meiega ühendust ja broneeri unustamatu elamus</h3>
        <button>Võta ühendust</button>
</div>
</div>
</div>
        <div class="container matkakonteiner">
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                  <div class="card">
                      <img class="card-img-top" src="./Matkaklubi/Pildid/Mägironimine.jpg">
                      <div class="card-body">
                          <h4 class="card-title">
                              Mägironimine
                          </h4>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam obcaecati, perferendis sequi corporis repellendus similique nemo veniam aliquam laborum cum eos ipsa aliquid voluptatem. Aliquam, minus iste. Quia, laudantium eaque?
                        </p>
                        <a href="#" class="btn btn-primary">Registreeru</a>
                      </div>
                    </div>
                </div>
              <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="./Matkaklubi/Pildid/Kanuumatk.jpg">
                    <div class="card-body">
                        <h4 class="card-title">
                            Kanuumatk
                        </h4>
                      <p class="card-text">
                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam obcaecati, perferendis sequi corporis repellendus similique nemo veniam aliquam laborum cum eos ipsa aliquid voluptatem. Aliquam, minus iste. Quia, laudantium eaque?
                      </p>
                      <a href="#" class="btn btn-primary">Registreeru</a>
                    </div>
                </div>
            </div>
              <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="./Matkaklubi/Pildid/Rabamatk.jpg">
                    <div class="card-body">
                        <h4 class="card-title">
                            Rabamatk
                        </h4>
                      <p class="card-text">
                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam obcaecati, perferendis sequi corporis repellendus similique nemo veniam aliquam laborum cum eos ipsa aliquid voluptatem. Aliquam, minus iste. Quia, laudantium eaque?
                      </p>
                      <a href="#" class="btn btn-primary">Registreeru</a>
                    </div>
                </div>
            </div>
              <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="./Matkaklubi/Pildid/Gurmeematk.jpg">
                    <div class="card-body">
                        <h4 class="card-title">
                            Gurmeematk
                        </h4>
                      <p class="card-text">
                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam obcaecati, perferendis sequi corporis repellendus similique nemo veniam aliquam laborum cum eos ipsa aliquid voluptatem. Aliquam, minus iste. Quia, laudantium eaque?
                      </p>
                      <a href="#" class="btn btn-primary">Registreeru</a>
                    </div>
            </div>
    </div>
</body>
</html>