<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Matkaklubi Curious Otter</title>
    <% include ../partials/header.ejs %>

</head>
<body>
    <div class="paiskonteiner">
        <div class="container">
            <% include ../partials/menyy.ejs %>

        </div>

        <div class="tiitliriba">
        <h2>Liikumine ja värske õhk tagavad tugeva tervise</h2>
        <h1>Tule matkama</h1>
        <h3>Võta meiega ühendust ja broneeri unustamatu elamus</h3>
        <button>Võta ühendust</button>
</div>
</div>
</div>
        <div class="container matkakonteiner">
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                  <div class="card">
                      <img class="card-img-top" src="./Matkaklubi/Pildid/Mägironimine.jpg">
                      <div class="card-body">
                          <h4 class="card-title">
                              Mägironimine
                          </h4>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam obcaecati, perferendis sequi corporis repellendus similique nemo veniam aliquam laborum cum eos ipsa aliquid voluptatem. Aliquam, minus iste. Quia, laudantium eaque?
                        </p>
                        <a href="/registreeru?matk=1" class="btn btn-primary">Registreeru</a>
                      </div>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top" src="./Matkaklubi/Pildid/Gurmeematk.jpg">
                    <div class="card-body">
                        <h4 class="card-title">
                            Gurmeematk
                        </h4>
                      <p class="card-text">
                          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam obcaecati, perferendis sequi corporis repellendus similique nemo veniam aliquam laborum cum eos ipsa aliquid voluptatem. Aliquam, minus iste. Quia, laudantium eaque?
                      </p>
                      <a href="/registreeru?matk=4" class="btn btn-primary">Registreeru</a>
                    </div>
            </div>
    </div>
</body>
</html>